@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0
}

body {
	background: #F8EFEF
}

#wrapper {
	width: 900px;
	height: 100%;
	margin: 0 auto;
}

#leftside {
	width: 585px;
	height: 100%;
	float: left;
}

#content {
	background-color: #F1E2E2;
	width: 100%;
	height: 100%;
	margin-top: -12px;
	padding-bottom: 50px;
}

#content space {
	width: 100%;
	height: 20px;
	background-color: #FFF
}

#title {
	background: url(../images/bg-h2.gif);
	width: 504px;
	height: 37px;
	text-align: right;
	float: right;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 24px;
}

#con {
	clear: both
}

#con table {
	text-align: center
}

#cap {
	padding-right: 20px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif
}

#rightside {
	width: 300px;
	height: 100%;
	float: right;
}

#pic {
	width: 263;
	height: 219;
	padding-left: 20px;
}

#nav {
	margin-left: 20px;
	background-color: #F1E2E2;
	width: 221px;
	height: 100%;
	padding-bottom: 20px;
	padding-top: 20px
}

#nav p {
	padding-top: 8px;
	padding-left: 10px;
}

#nav a {
	text-decoration: none;
	color: #A56B50;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	font-size: 16px
}

#nav a:hover {
	font-weight: bold
}

#login {
	margin: 40px 20px;
	width: 201px;
	height: 100%;
	padding: 10px;
	background-color: #F1E2E2;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}

#login p {
	color: #666;
	padding: 10px;
}

#login a {
	text-decoration: none;
	color: #A56B50
}

#login a:hover {
	color: #361B1B
}

#login table {
	cellpadding: 10px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif
}

#login-box {
	border: 1px #CCC solid;
	clear: both;
	margin: 50px 60px;
	padding: 40px 80px;
	text-align: left;
	background-color: #FFF;
	margin-top: 100px;
}

.field {
	width: 200px;
	height: 25px;
	border: 1px #8282FF solid;
}

.menulist{
	width: 80%;
	height: 25px;
	border: 1px #8282FF solid;
	text-align:left;
}
#submit {
	width: 60px;
	height: 25px;
	background-color: #999;
	color: #FFF;
	padding: 10;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px #333 outset
}

#submit:hover {
	background-color: #666
}

a {
	text-decoration: none;
	color: #A56B50
}

a:hover {
	color: #361B1B
}

span {
	padding-left: 10px;
}

#fw-head {
	background: url('../images/bg-head.gif') no-repeat top left;
	width: 100%;
	height: 200px;
}

#fw-title {
	position: relative;
	top: 53px;
	left: 200px;
	width: 500px;
	height: 30px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif
}

#logo {
	
}

tle {
	padding-top: 30px;
	position: relative;
	width: 504px;
	left: 81px;
	height: 30px;
	background: url('../images/bg-h2.gif') no-repeat;
	text-align: right;
	font-size: 24px;
	padding-bottom: 20px;
}

.labeldiv{
	border-left:none;
	border-right:none;
	border-top:dotted 1px;
	border-bottom:none;
	background:#FFF0F5;
	color:#999;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}

.labeldiv_footer{
	border-left:none;
	border-right:none;
	border-bottom:dotted 1px;
	border-top:none;
	background:#FFF0F5;
	color:#999;
	width:auto;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}

.labels{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:600;
}

<
div
id
=
"space"></div>
<div
id
=
"title">
<div
id
=
"cap">Title</div>
</div>