@charset "utf-8";
/* CSS Document */

/*
 * 1. Global stuff
 */
 
* {
	
	margin:0;
	padding:0;
	border:0;
}

html {
	font:normal .8em/1.5em Georgia, serif;
	color:#111;
	background:#fff
}

a {
	color:#111;
	text-decoration:underline
}

body {
  background-image: url("images/purplebg.png");
  padding-bottom:30px;
}

/*
 * 2. Wrapper
 */

#wrapper	{
		background-color:#FFF;
		width:1000px;
		height:100%;	
		margin:0px auto;
		padding:0 6px;
		padding-bottom:20px;
		
		
}

/*
 * 3. Header
 */
 
#header-left	{
	width:682px;
	height:200px;
	float:left;
	}
	
#header-right	{
	float:right;
	width:318px;
	height:200px;
	background-image:url(images/purplebg.png);
	color:#FFF;
	text-align:center;
	font-size:18px;
		
	}
 

/*
 * 4. Navigation
 */ 
 
#upper-nav-border	{
	clear:both;
	background-image:url(images/purplebottom.png);
	}
	
#nav	{
		clear:both;
	    margin:10px 0;
		margin-bottom:50px;	
		
	}
	
#nav	ul {
	 clear:both;
	 width:100%;
	 }
#nav ul li	{
	 clear:both;
	 display:inline; 
	 }
#nav ul li a	{	
	 
	 padding:6px 20px; 
	 float:left;	
	 font-size:13px; 
	 font-weight:bold;
	 color:#906;
	
}

#nav a:hover	{
	 background-color:#906; 
	 color:#FFF;
}

/*
 * 5. content - left
 */
 
#content-left	{
	float:left;
	width:640px;
	height:100%;
	padding:10px 10px;
	margin-bottom:20px;
	border-right:1px #CCC solid;
	border-bottom:1px #CCC solid;
	border-left:1px #CCC solid;
	
} 

#page-title	{
	color:#906;
	font-size:17px;
	font-weight:bold;
}


#search-result	{
	
	margin:0px 0px;
}

#search-result td	{
	width:190px;
	height:200px;
	
}

#search-result td div	{
	text-align:center;
	width:190px;
	height:120px;
	border:1px #CCC solid;
	padding-top:20px;
}



#search-result td p	{
	width:180px;
	height:60px;
	border:1px #CCC solid;
	padding:0 5px;
}

#about-div	{
	margin-left:20px;
	float:left;
	width:380px;
	height:120px;	
	font-family:"MS Serif", "New York", serif;
	font-size:20px;
	background-color:#936;
	color:#FFF;
	padding:10px 10px;
	text-align:justify;
	border-radius:10px;
	font-style:italic;
	margin-top:20px;
}

#slideshow	{
	margin-right:0px;
	float:right;
	width:200px;
	height:300px;	
	border:5px #000 solid;
	
}

#add-table	{
	margin-left:150px;	
	width:345px;
}

#add-table{
	border:1px #CCC solid;	
	padding:10px;
	background-color:#F1DAEA;
}

#text-field	{
	width:150px;
	height:25px;
	border:1px #F6F solid;
}

#upload	{
	border:1px #999 solid;	
	width:70px;
	height:25px;
	border-radius: 4px;
	background-color:#936;
	color:#FFF;
}

#subtitle	{
	margin-left:150px;
	font-size:18px;
	color:#FFF;
	background-color:#936;
	text-align:center;
	width:345px;
	padding:3px 0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#admin-prof{	
	margin-left:130px;
	text-align:center;
	padding:0px 20px;
	
}

#admin-prof table {		
	border:1px #CCC solid;	
	background-color:#F1DAEA;
}

#admin-prof a {		
	color:#936
}
#admin-prof a:hover {		
	color:#939
}

#header-customer{
	margin-left:75px;
	font-size:18px;
	color:#FFF;
	background-color:#936;
	text-align:center;
	width:500px;
	padding:3px 0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	font-family:Georgia, "Times New Roman", Times, serif;	
}

#customer-table{
	margin-left:75px;
	border:1px #CCC solid;
	width:500px;
	text-align:center;
	font-size:15px;
	
}

#customer-table th{
	border: thin #999 solid;
	text-align:center;	
}
#customer-table tr td{
	text-align:center;
	border: thin #999 solid;	
}

#customer-table tr:hover{
	color:#FFF;
	background-color:#936;	
}

#customer-table tr{
	height:25px;	
}

#add-customer a	{
	margin-left:75px;
	color:#936;
	font-size:16px;
}

#add-customer a:hover	{
	background-color:#906;
	color:#FFF;
}




/*
 * 5. content - right
 */
 
#content-right	{
	margin-top:52px;
	float:right;
	width:298px;
	height:100%;	
	background-color:#55002B;	
	padding:20px 10px;
	margin-bottom:20px;
	border-radius:15px;  
}

#login-head	{
	color:#FFF;
	width:100%-3;
	height:20px;
	background-color:#936;	
	border-bottom:1px #FFF dotted;
	padding:4px 3px;
	border-top-left-radius:10px;                  
	border-top-right-radius:10px;
}


#login-head span	{
		font-size:11px;
}

#login-div	{
	color:#936;	
	width:100%-10;
	height:100%;
	background-color:#EAD1ED;
	padding:10px 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#login-div p{
	margin-left:30px;
	margin-top:10px;
}

#login-div img{
	margin:5px 40px;
}
 
#input	{
	border:1px #999 solid;
	width:210px;
	height:25px;
	margin-left:30px;
	font-size:14px;
	
}

#submit	{
	width:70px;
	height:30px;
	background-color:#936;
	color:#FFF;	
	margin-left:60px;
	margin-bottom:20px;
	font-weight:bold;
}

#submit:hover	{
	background-color:#906;
}

#content-right ul{
	 margin-top:30px;
	 margin-bottom:50px;
}

#content-right ul li	{
	 clear:both;
	 display:block;
}
#content-right ul li a	{	
	 
	 padding:6px 10px; 
	 float:left;	
	 font-size:13px; 
	 font-weight:bold;
	 color:#FFF;
	 text-decoration:none;
	
}

#content-right ul li a:hover	{
	background-color:#FFF;
	color:#936;
}

/*
 * 6. footer
 */

#footer	{
		clear:both;
		padding-top:5px;
		text-align:center;
		color:#FFF;
		margin:20px 0px;
		margin-bottom:0px;
		background-color:#55002B;		
		height:24px;
}

/*
	create account
*/

#createacct {	
	margin:20px 70px;
	width:auto;	
	background-color:#E9E9E9;
	background-color:#F1DAEA;

}

#createacct form	{
	margin:0px;
	}

.til{
	margin-bottom:7px;
}

#user2	{
	border:1px #CCC solid;
	width:250px;
	height:25px;
}


#user{
	border:1px #CCC solid;
	height:25px;
	
}



#l2			{ margin-top:15px; margin-left:120px; margin-right:7px; margin-bottom:15px; font-family:Arial, Helvetica,              sans-serif; font-weight:bold; font-size:13px; width:250px;}
#header-account		{
	 background-color:#7E7574; 
	 background-color:#936;
	 padding:5px;
	 border-top-left-radius:10px;    
	 border-top-right-radius:10px;
	 padding:5px; 
	 color:#fff; 
	 font-family:Arial,Helvetica, sans-serif; 
	 font-weight:bold 
}



#submit-account	{ 
	color:#FFF;
	background-color:#936;
	padding:4px 8px; 
	font-weight:bold; 
}
#submit-account:hover	{ background-color:#903}

/* 
	manage services
*/

#header-servicelist{
	margin:-12px 15px;

	font-size:18px;
	color:#FFF;
	background-color:#936;
	text-align:center;
	width:610px;
	padding:3px 0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	font-family:Georgia, "Times New Roman", Times, serif;	
}

#services-list	{
	
	border:1px #CCC solid; 
	margin:10px 15px;
	font-size:15px;
}

#services-list th{
	border: thin #999 solid;
	text-align:center;	
}
#services-list tr td{
	text-align:center;
	border: thin #999 solid;	
}

#services-list tr{
	height:25px;	
}

#services-list tr:hover{
	background-color:#936;
	color:#FFF
}


/*
	service profile
*/

#service-product-pic{
	width:190px;
	height:120px;
	border:5px #CCC double;
	text-align:center;
	padding-top:20px;
	margin:10px 40px;
}

#service-product-pic img{
	width:150px;
	height:100px;
}

#service-desc	{
	margin:0px 30px;
	padding-left:60px;
}



#s1	{
	border:1px #999 solid;
	height:25px;
	width:300px;
}

#s2	{
	border:1px #999 solid;
	height:25px;
	width:70px;
}

#s3	{
	border:1px #999 solid;
	width:100px;
	height:25px;
}
#check-new-service	{
	margin:0px 40px;
	padding-left:60px;
}

#new-other	{
	margin-left:25px;
}
#new-other	input{
	width:300px;
	height:25px;
	border: 1px #999 solid;
}
.bold{
	font-weight:bold;
}

#update-btn	{
	width:90px;
	height:35px;
	border:1px #999 solid;
	background-color:#666;
	color:#FFF;
	font-weight:bold;
	margin-left:300px;
}

#update-btn:hover	{
	background-color:#333
}