@charset "utf-8";
/* CSS Document */


#discountedgetfield{
	height:25px;
	width:430px;
	border: 1px #CCC solid;
}

#discountedgetbutton{	
	height:25px;
	background-color:#906;
	color:#FFF;	
}

#discountedgetbutton:hover {
	background-c
	olor:#903;
}	

#discountedget span a{
	margin-left:10px;	
	color:#F00;
}

#discountedavail span a {
	margin-left:10px;	
	color:#F00;
}
#addnewbranch{
	text-align:center;
	border:1px #666 solid;
	width:500px;
	margin:20px 220px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	padding-bottom:20px;
}
#addnewbrachtable{
	width:410px;
	margin:10px 50px;
}
#addnewbrachtable tr td input{
	border:1px #999 solid;
	height:25px;
	width:250px;
}
#newBranchHeader{
	font-size:18px;
	margin:10px 0;
	height:30px;
	border-bottom:1px #999 solid;
}
#addbranchbutton{
	border:1px #666 solid;
	width:70px;
	height:30px;
	color:#FFF;
	background-color:#999;
}
#addbranchbutton:hover{
	background-color:#666;
}	