@charset "utf-8";
/* CSS Document */


#about-div1	{
	float:left;
	margin-left:20px;	
	width:380px;
	height:100%;	
	font-family:"MS Serif", "New York", serif;
	font-size:20px;
	text-align:justify;
	border-radius:10px;
	font-style:italic;
	padding-right:20px;
}

#about-div-admin	{	
	margin-left:20px;	
	width:600px;
	height:100%;	
	font-family:"MS Serif", "New York", serif;
	font-size:20px;
	text-align:justify;
	border-radius:10px;
	font-style:italic;
	padding-right:20px;
}

hr{
	color:#900;
	background-color:#903;
	margin:7px 0px;
	margin-bottom:20px;
}

#news-description{
	font-size:14px;	
	margin-left:30px;
	
}

#news-title{
	padding-left:10px;
	font-size:18px;
	margin-top:6px;
	margin-bottom:3px;
	font-weight:bold;
	
}

#news-title span a{
	color:#900;
	margin-left:10px;
	font-size:14px;
}

#titleinput{
	border:1px #999 solid;
	height:25px;
	width:250px;
}
#addnewslink{
	font-size:18px;
	font-style:normal;	
	margin-left:10px;
}

#newsinput{
	border:1px #999 solid;
	height:25px;
	width:380px;
}

#newsimage{
	border:1px #999 solid; 
	height:25px;
	width:250px;
}
#browsenewsimage{
	border:1px #999 solid;
	height:25px;
	width:70px;
	background-color:#936;
	color:#FFF;
}

#addnewsbutton{
	border:1px #999 solid;
	height:30px;
	width:80px;
	background-color:#936;
	color:#FFF;
}

#addbutton{
	margin-left:300px;
}

#addnewsheader{
	margin-left:250px;
	font-weight:bold;
}

#secondtable{
	margin-top:-10px;
}